# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* popular languages that Data Scientists use 
* commonly used libraries used by Data Scientists
* Data Science Tools
* arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Phython
2. Javascript
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. Tensor Flow
5. Keras

| Data Science Tools |
|-------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Leenet